# Ghost configs
DATABASE_CLIENT=mysql
DATABASE_HOST=ghost_db
DATABASE_PASSWORD=123456
DATABASE_NAME=ghost
GHOST_URL=http://localhost/ghost-api

# MySQL
DATABASE_USER=user_db
DATABASE_USER_PASSWORD=123456

# Nuxt
NUXT_PUBLIC_GHOST_API_BASE=http://localhost/ghost-api
NUXT_PUBLIC_GHOST_API_KEY=abc123
NUXT_PUBLIC_GHOST_API_VERSION=v5.0